<table class="table table-bordered table-hover">
  <thead class="bg-primary text-white">
    <tr>
      <th>Nombre</th>
      <th>No Prestamo</th>
      <th>Cedula</th>
      <th>F_Registro</th>
      <th>F_Inicio</th>
      <th>F_Fin</th>
      <th>Monto</th>
      <th>Interes %</th>
      <th>Meses</th>
      <th>No Cuotas</th>
      <th>Cuotas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let paciente of pacientes">
      <td>{{paciente.NOM_PASIENTE}}</td>
      alert({{paciente}})
    </tr>
  </tbody>
</table>