<div class="container mt-4">
    <div class="card" style="border-radius: 1.5rem;">
      <div class="card-body">
        <span class="h3" style="color: #080f5d;;">LISTA DE USUARIOS</span>
        <button class="btn btn-dark btn-lg float-end" routerLink="/agregar-usuarios">Nuevo usuario</button>
        <!-- <h5 style="margin-top: 30px;" *ngIf="empleados.length == 0">No hay datos para mostrar</h5> -->
        <!-- *ngIf="empleados.length > 0" -->
        <table class="table table table-striped mt-5">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Contraseña</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Email</th>
              <th>Telefono Contacto</th>
              <th>Sexo</th>
              <th>Estado</th>
              <th>Fecha de Creacion</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>user</td>
              <td>pass</td>
              <td>name</td>
              <td>lastname</td>
              <td>"@gmail"</td>
              <td>"87869064"</td>
              <td>sexo?</td>
              <td>act</td>
              <td>04/07/2022</td>
              <td>
                <i class="fas fa-edit fa-lg text-primary" style="margin-right: 5px;"></i>
                <!-- [routerLink]="['/editEmpleado/', empleado.id]" -->
                <i class="fas fa-trash-alt fa-lg text-danger"></i>
                <!-- (click)="eliminarEmpleado(empleado.id)"  -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

