#sidebar-container {
    min-height: 100vh;
    min-width: 25vh;
}

#sidebar-container .logo {
    padding: 0.875rem 1.25rem;
}

a,
a:hover {
    text-decoration: none;
}

.fondo {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,81,154,1) 35%, rgba(0,212,255,1) 200%);
}