<div id="sidebar-container" class="fondo">
    <div class="logo text-light fw-bold">
         Clinica Medica
         <hr>
    </div>
    <div class="menu">
      <a routerLink="/" class="d-block p-3 text-light fw-bold"> <ion-icon name="home"></ion-icon> INICIO</a>
      <a routerLink="/ver-pacientes" class="d-block p-3 text-light fw-bold"> <ion-icon name="people"></ion-icon> PACIENTES</a>
      <a routerLink="/ver-citas" class="d-block p-3 text-light fw-bold"> <ion-icon name="clipboard"></ion-icon> CITAS</a>
      <a routerLink="/ver-usuarios" class="d-block p-3 text-light fw-bold"> <ion-icon name="person-circle"></ion-icon> USUARIOS</a>
      <hr>
    </div>
    <div class="logo text-light fw-bold">
      <hr>
  </div>
   
  </div>
