<div class="container mt-4">
    <div class="card" style="border-radius: 1.5rem;">
      <div class="card-body">
        <span class="h3" style="color: #080f5d;;">CITAS PROGRAMADAS</span>
        <button class="btn btn-dark btn-lg float-end" routerLink="/agendar-citas">Nueva cita</button>
        <!-- <h5 style="margin-top: 30px;" *ngIf="empleados.length == 0">No hay datos para mostrar</h5> -->
        <!-- *ngIf="empleados.length > 0" -->
        <table class="table table table-striped mt-5">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Teléfono</th>
              <th>Doctor</th>
              <th>Fecha de la cita</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cita of citas">
              <td>{{cita.NOM_PACIENTE}}</td>
              <td>{{cita.APE_PACIENTE}}</td>
              <td>{{cita.TEL_PACIENTE}}</td>
              <td>{{cita.NOM_DOCTOR}}</td>
              <td>{{cita.F_CITA | date: 'dd/MM/YYYY'}}</td> 
              <td>
                <i class="fas fa-edit fa-lg text-primary" style="margin-right: 5px;"></i>
                <!-- [routerLink]="['/editEmpleado/', empleado.id]" -->
                <i class="fas fa-trash-alt fa-lg text-danger"></i>
                <!-- (click)="eliminarEmpleado(empleado.id)"  -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

